
.container {
  background-image: url(../style/workplace.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.navname {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:black;
}

.list-inline {
  padding: 10px;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 1em;
  text-align: center;

}

.btn-lg {
  background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;    
  position: relative;
}

.text-center {
  background-color: transparent;
  text-align: center;
  font: 700;
}

.breadcrumb {
  background-color: transparent;

}

.maintext {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}


