
.container {
  background-image: url();  
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute

}

.text-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 50px;
  padding: 50px; 
}

.maintitle {
}

.navhome {
  background-image

}

