.coverhome {
  background-image: url("workplace.jpg");
  height: 100vh;
  border: 3px solid;
  background-size: cover;
  background-position: center;
}

.row {
  padding: 20px 0px;
  margin: 10px;
}

ul li {
  font-size: 13px;
  float: left;
  margin:15px;
  list-style-type: none;
}

.button-header {
  border: 2px solid black;
  border-radius: 10px;
}

.tittle-main {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  color: aliceblue;
}

.main-text {
  text-align: center;
  font-weight: 400;
} 





